.main{
    width: 80% !important;
    margin-left: 10% !important;
}

input{
    margin-bottom: 1%;
}

header{
    background-color: rgba(1, 23, 34, 0.94);
    color: #fff;
    padding: 1%;
    margin-bottom: 3%;
}

footer{
    min-height: 110px;
    background-color: rgba(1, 23, 34, 0.94);
    color: #fff;
    padding: 1%;
    margin-top: 2%;
}

img:Hover{
    cursor: pointer !important;
}

.img-login{
    width: 80% !important;
    padding-left: 10%;
}

.little-padding{
    padding-left: 15%;
}